body {
    background-color: #FFE9EA;
}

button {
    background-color: #D47E7D;
}

h1 {
    font-family: "Jaini Purva", system-ui;
    font-weight: 400;
    color: #2D0B09;
    font-size: 96px;
    margin-top: 5px;
}

h2 {
    font-family: "Jaini Purva", system-ui;
    font-weight: 400;
    color: #2D0B09;
    font-size: 60px;
    margin-top: -30px;
}

span {
    color: #D87D7B;
}

p,
.button-text  {
    font-family: "Jaini Purva", system-ui;
    font-weight: 400;
}

p {
    color: #2D0B09;
}

.content p {
    font-size: 40px;
}

button {
    height: 86px;
    width: 336px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #f08d8c;
}

#pedido {
    margin-right: 40px;
}

.button-text {
    font-size: 40px;
    color: #FFFFFF;
}

.title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title img {
    height: 100px;
    width: auto;
    margin-top: -73px;
}

#bolo-de-pote {
    width: 800px;
    height: 532px;
}

.container {
    margin: 50px;
}

.texto {
    width: 50%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.headlines {
    align-items: center;
    display: flex;
    gap: 15px;
    margin-top: -50px;
}

.headlines img {
    height: 60px;
    width: 60px;
}

@media (max-width: 768px) {

    .container {
        margin: 40px;
    }

    .title {
        text-align: center;
        align-items: center;
    }

    .title img {
        margin-top: 0px;
    }

    .content {
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    button {
        margin-bottom: 30px;
    }
}
