body {
    background-color: #FFE9EA;
}

button {
    background-color: #D47E7D;
}

h1 {
    font-family: "Jaini Purva", system-ui;
    font-weight: 400;
    color: #2D0B09;
    font-size: 96px;
    margin-top: 5px;
}

h2 {
    font-family: "Jaini Purva", system-ui;
    font-weight: 400;
    color: #2D0B09;
    font-size: 60px;
    margin-top: -30px;
}


span {
    color: #D87D7B;
}

p {
    font-family: "Jaini Purva", system-ui;
    font-weight: 400;
    color: #2D0B09;
}

.content p {
    font-size: 40px;
}

button {
    border-radius: 30px;
    border: none;
}

button p {
    font-family: "Jaini Purva", system-ui;
    font-weight: 400;
    color: #FFFFFF;
}

#cardapio {
    margin-left: 100px;
}

.title {
    display: flex;
    margin-top: 30px;
}

.div {
    display: flex;
}

#bolo-de-pote {
    width: 800px;
    height: 532px;
    margin-right: 100px;

}

.container {
    margin: 50px;
}


.texto {
    width: 50%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

